<div class="mdl-card mdl-shadow--4dp" style="width: 800px;margin:0 auto;min-height: 100%">
  <table width="100%" style="height: 100%;color: black;">
    <tr style="height: 80%;width: 100%;">
      <td style="float: left" width="70%">
        <app-left></app-left>
      </td>

      <td style="" width="30%">
        <app-right></app-right>
      </td>

    </tr>

  </table>
</div>

<!--<div class="demo-card-square mdl-card mdl-shadow&#45;&#45;2dp">
  <div class="mdl-card__title mdl-card&#45;&#45;expand">
    <h2 class="mdl-card__title-text">Update</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card&#45;&#45;border">
    <a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect">
      View Updates
    </a>
  </div>
</div>-->

<div class="page-bg">
</div>
